@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.leaflet-container {
  min-height: 50vh;
  z-index: 1;
}

.leaflet-control-attribution {
  display: none;
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

@layer base {
  :root {
    --background: 264 43% 98%;
    --foreground: 264 64% 5%;
    --muted: 264 23% 94%;
    --muted-foreground: 264 1% 28%;
    --popover: 264 43% 97%;
    --popover-foreground: 264 64% 4%;
    --card: 264 43% 97%;
    --card-foreground: 264 64% 4%;
    --border: 264 5% 89%;
    --input: 264 5% 89%;
    --primary: 264 54% 77%;
    --primary-foreground: 264 54% 17%;
    --secondary: 264 17% 85%;
    --secondary-foreground: 264 17% 25%;
    --accent: 264 72.59% 88.78%;
    --accent-foreground: 264 17% 25%;
    --destructive: 14 84% 21%;
    --destructive-foreground: 14 84% 81%;
    --ring: 264 54% 77%;
    --radius: 0.5rem;
    --body-font: 268 40% 30%;
  }

  .dark {
    --background: 264 60% 4%;
    --foreground: 264 39% 98%;
    --muted: 264 23% 6%;
    --muted-foreground: 264 1% 72%;
    --popover: 264 60% 5%;
    --popover-foreground: 264 39% 99%;
    --card: 264 60% 5%;
    --card-foreground: 264 39% 99%;
    --border: 264 5% 12%;
    --input: 264 5% 12%;
    --primary: 264 54% 77%;
    --primary-foreground: 264 54% 17%;
    --secondary: 264 1% 15%;
    --secondary-foreground: 264 1% 75%;
    --accent: 264 72.59% 88.78%;
    --accent-foreground: 264 17% 25%;
    --destructive: 14 84% 53%;
    --destructive-foreground: 0 0% 100%;
    --ring: 264 54% 77%;
    --body-font: 276 96% 97%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
